/*整个hander*/
/*用户登录*/
.userlogin{
width: 100%;
    height: 41px;
    background:url("../images/userlogin.png");
    position: relative;
}
.userlogin_text1{
    font-size: 19px;
    font-family: "微软雅黑";
    font-weight: bold;
    /*font-style: italic;*/
    color: #083487;
    position: absolute;
    left: 190px;
    top: 12px;
}
.userlogin_text2{
    font-size: 14px;
    font-family: "宋体";
    position: absolute;
    left: 278px;
    top: 17px;
}
.userlogin_text3{
    font-size: 14px;
    font-family: "宋体";
    position: absolute;
    left: 453px;
    top: 17px;
}
.userlogin_text4{
    width: 47px;
    height: 21px;
    background: url("../images/userlogin_botton.png") 0 0;
    font-size: 12px;
    font-family: "宋体";
    position: absolute;
    left: 605px;
    top: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.userlogin_text4:hover{
    background:url("../images/userlogin_botton.png") 0 -21px;
}
.userlogin_text5{
    width: 47px;
    height: 21px;
    background: url("../images/userlogin_botton.png") 0 0;
    font-size: 12px;
    font-family: "宋体";
    position: absolute;
    left: 668px;
    top: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.userlogin_text5:hover{
    background:url("../images/userlogin_botton.png") 0 -21px;
}
.userlogin_text6{
    font-size: 19px;
    font-family: "微软雅黑";
    font-weight: bold;
    /*font-style: italic;*/
    color: #083487;
    position: absolute;
    left: 850px;
    top: 12px;
}
.userlogin_text7{
    font-size: 14px;
    font-family: "宋体";
    position: absolute;
    left: 935px;
    top: 17px;
}
.userlogin_text8{
    width: 47px;
    height: 21px;
    background: url("../images/userlogin_botton.png") 0 0;
    font-size: 12px;
    font-family: "宋体";
    position: absolute;
    left: 1110px;
    top: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.userlogin_text8:hover{
    background:url("../images/userlogin_botton.png") 0 -21px;
}
.userlogin_input1{
    width: 108px;
    height: 20px;
    position: absolute;
    left: 323px;
    top: 11px;
}
.userlogin_input2{
    width: 108px;
    height: 20px;
    position: absolute;
    left: 485px;
    top: 11px;
}
.userlogin_input3{
    width: 108px;
    height: 20px;
    position: absolute;
    left: 983px;
    top: 11px;
}
/*用户登录end*/

/*通用的top*/
.tytop_bg{
    width: 100%;
    height: 144px;
    background-image: url("../images/tytop_bg.png");
    position: relative;
}
.tytop_bud{
    width: 1000px;
    height: 144px;
    background-image: url("../images/tytop_bud.png");
    position: absolute;
    top: 0;
    left:175px ;
}

/*菜单menu*/
.menubg{
    width: 100%;
    height: 45px;
    background-image: url("../images/menu_bg.png");
    position: relative;
}
.menu_ul{
    position: absolute;
    width: 1200px;
    padding: 0;
    margin: 0;
    left: 175px;
    list-style: none;
    /*border: 1px solid #000000;*/
}
.menu_ul li{
    /*background: green;*/
    height: 45px;
    width: 100px;
    float: left;
    font-family: "宋体";
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
    border-right: 1px solid rgba(144, 230, 255, 0.45);
}
.menu_ul li:hover{
    background-image:url("../images/menu_ulbg.png") ;
    color: #aa2b2b;
}
.menu_ul li:hover .secondmenu_ul{
    display: block;
}
.menu_ulli{
     position: absolute;
     top: 0;
     left: 900px;
 }
/*中心概况*/
.secondmenu_ul{
     font-family: "宋体";
     font-size: 15px;
     padding: 0;
     margin: 0;
     position: absolute;
     top:45px;
     left: 101px;
     display: none;
     z-index: 2;
     list-style: none;
 }
.secondmenu_ul li{
    height: 34px;
    width: 100px;
    float: left;
    background-color: #a1dbff;
    padding: 0 21px 0 0;
    line-height: 35px;
    color: #073285;
    border-right:1px solid #aa2b2b;;
}
.secondmenu_ul li:hover{
    background-color: #aa2b2b;
    background-image: none;
    color: #ffffff;
}
/*新闻中心*/
.secondmenu_xwul{
    font-family: "宋体";
    font-size: 15px;
    padding: 0;
    margin: 0;
    position: absolute;
    top:45px;
    left: 202px;
    display: none;
    z-index: 2;
    list-style: none;
}
.secondmenu_xwul li{
    height: 34px;
    width: 100px;
    float: left;
    background-color: #a1dbff;
    padding: 0 21px 0 0;
    line-height: 35px;
    color: #073285;
    border-right:1px solid #aa2b2b;;
}
.secondmenu_xwul li:hover{
    background-color: #aa2b2b;
    background-image: none;
    color: #ffffff;
}
.menu_ul li:hover .secondmenu_xwul{
    display: block;
}
/*战略合作*/
.secondmenu_zlul{
    font-family: "宋体";
    font-size: 15px;
    padding: 0;
    margin: 0;
    position: absolute;
    top:45px;
    left: 120px;
    display: none;
    z-index: 2;
    list-style: none;
}
.secondmenu_zlul li{
    height: 34px;
    width: 100px;
    float: left;
    background-color: #a1dbff;
    padding: 0 21px 0 0;
    line-height: 35px;
    color: #073285;
    border-right:1px solid #aa2b2b;;
}
.secondmenu_zlul li:hover{
    background-color: #aa2b2b;
    background-image: none;
    color: #ffffff;
}
.menu_ul li:hover .secondmenu_zlul{
    display: block;
}
/*信息*/
.secondmenu_xxul{
    font-family: "宋体";
    font-size: 15px;
    padding: 0;
    margin: 0;
    position: absolute;
    top:45px;
    left: 505px;
    display: none;
    z-index: 2;
    list-style: none;
}
.secondmenu_xxul li{
    height: 34px;
    width: 100px;
    float: left;
    background-color: #a1dbff;
    padding: 0 21px 0 0;
    line-height: 35px;
    color: #073285;
    border-right:1px solid #aa2b2b;;
}
.secondmenu_xxul li:hover{
    background-color: #aa2b2b;
    background-image: none;
    color: #ffffff;
}
.menu_ul li:hover .secondmenu_xxul{
    display: block;
}
/*专家*/
.secondmenu_zjul{
    font-family: "宋体";
    font-size: 15px;
    padding: 0;
    margin: 0;
    position: absolute;
    top:45px;
    left: 606px;
    display: none;
    z-index: 2;
    list-style: none;
}
.secondmenu_zjul li{
    height: 34px;
    width: 100px;
    float: left;
    background-color: #a1dbff;
    padding: 0 21px 0 0;
    line-height: 35px;
    color: #073285;
    border-right:1px solid #aa2b2b;;
}
.secondmenu_zjul li:hover{
    background-color: #aa2b2b;
    background-image: none;
    color: #ffffff;
}
.menu_ul li:hover .secondmenu_zjul{
    display: block;
}

/*科研*/
.secondmenu_kyul{
    font-family: "宋体";
    font-size: 15px;
    padding: 0;
    margin: 0;
    position: absolute;
    top:45px;
    left: 586px;
    display: none;
    z-index: 2;
    list-style: none;
}
.secondmenu_kyul li{
    height: 34px;
    width: 100px;
    float: left;
    background-color: #a1dbff;
    padding: 0 21px 0 0;
    line-height: 35px;
    color: #073285;
    border-right:1px solid #aa2b2b;;
}
.secondmenu_kyul li:hover{
    background-color: #aa2b2b;
    background-image: none;
    color: #ffffff;
}
.menu_ul li:hover .secondmenu_kyul{
    display: block;
}

/*在线*/
.secondmenu_zxul{
    font-family: "宋体";
    font-size: 15px;
    padding: 0;
    margin: 0;
    position: absolute;
    top:45px;
    left: -390px;
    display: none;
    z-index: 2;
    list-style: none;
}
.secondmenu_zxul li{
    height: 34px;
    width: 100px;
    float: left;
    background-color: #a1dbff;
    padding: 0 21px 0 0;
    line-height: 35px;
    color: #073285;
    border-right:1px solid #aa2b2b;;
}
.secondmenu_zxul li:hover{
    background-color: #aa2b2b;
    background-image: none;
    color: #ffffff;
}
.menu_ulli:hover .secondmenu_zxul{
    display: block;
}
/*菜单menu end*/
/*整个hander*/

/*footer*/
/*<footer在线交流>*/
.footer{
    height: 335px;
    width: 100%;
    background: #083588;
    position: relative;
}
.footer_textimg{
    position: absolute;
    left: 175px;
}
.footer_img{
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
   left: 391px;
    top: 16px;
}
.footer_img li{
    width: 164px;
    height: 59px;
    float: left;
    margin-left: 20px;
}
.footer_img1{
    background: url("../images/footerimg.png") 0 0;
}
.footer_img2{
    background: url("../images/footerimg.png") 0 -59px;
}
.footer_img3{
    background: url("../images/footerimg.png") 0 -118px;
}
.footer_img4{
    background: url("../images/footerimg.png") 0 -177px;
}
.footer_img1:hover{
    background: url("../images/footerimg_hover.png") 0 0;
}
.footer_img2:hover{
    background: url("../images/footerimg_hover.png") 0 -59px;
}
.footer_img3:hover{
     background: url("../images/footerimg_hover.png") 0 -118px;
 }
.footer_img4:hover{
    background: url("../images/footerimg_hover.png") 0 -177px;
}
/*<footer在线交流end>*/
 .friend{
     position: absolute;
     list-style: none;
     margin: 0;
     padding: 0;
     top: 107px;
     left: 120px;
     _left:0 ;
 }
.friend li{
    float: left;
   margin-left: 100px;
    color: #ffffff;
    line-height: 25px;
}
.friendtext1{
font-weight: bold;
 }
.friendtext2{
    color: #79c1e7
}

.footer_text{
    width: 675px;
    height: 70px;
    /*border: 1px solid #000000;*/
    text-align: center;
    position: absolute;
    color: #a8caed;
    top:247px;
    left: 350px;
    line-height: 30px;
}
/*整个footer*/