/*用户登录*/
.userlogin{
width: 100%;
    height: 41px;
    background:url("../images/userlogin.png");
    position: relative;
}
.userlogin_text1{
    font-size: 19px;
    font-family: "微软雅黑";
    font-weight: bold;
    /*font-style: italic;*/
    color: #083487;
    position: absolute;
    left: 190px;
    top: 12px;
}
.userlogin_text2{
    font-size: 14px;
    font-family: "宋体";
    position: absolute;
    left: 278px;
    top: 17px;
}
.userlogin_text3{
    font-size: 14px;
    font-family: "宋体";
    position: absolute;
    left: 453px;
    top: 17px;
}
.userlogin_text4{
    width: 47px;
    height: 21px;
    background: url("../images/userlogin_botton.png") 0 0;
    font-size: 12px;
    font-family: "宋体";
    position: absolute;
    left: 605px;
    top: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.userlogin_text4:hover{
    background:url("../images/userlogin_botton.png") 0 -21px;
}
.userlogin_text5{
    width: 47px;
    height: 21px;
    background: url("../images/userlogin_botton.png") 0 0;
    font-size: 12px;
    font-family: "宋体";
    position: absolute;
    left: 668px;
    top: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.userlogin_text5:hover{
    background:url("../images/userlogin_botton.png") 0 -21px;
}
.userlogin_text6{
    font-size: 19px;
    font-family: "微软雅黑";
    font-weight: bold;
    /*font-style: italic;*/
    color: #083487;
    position: absolute;
    left: 850px;
    top: 12px;
}
.userlogin_text7{
    font-size: 14px;
    font-family: "宋体";
    position: absolute;
    left: 935px;
    top: 17px;
}
.userlogin_text8{
    width: 47px;
    height: 21px;
    background: url("../images/userlogin_botton.png") 0 0;
    font-size: 12px;
    font-family: "宋体";
    position: absolute;
    left: 1110px;
    top: 12px;
    color: #ffffff;
    text-align: center;
    line-height: 20px;
}
.userlogin_text8:hover{
    background:url("../images/userlogin_botton.png") 0 -21px;
}
.userlogin_input1{
    width: 108px;
    height: 20px;
    position: absolute;
    left: 323px;
    top: 11px;
}
.userlogin_input2{
    width: 108px;
    height: 20px;
    position: absolute;
    left: 485px;
    top: 11px;
}
.userlogin_input3{
    width: 108px;
    height: 20px;
    position: absolute;
    left: 983px;
    top: 11px;
}
/*用户登录end*/

/*菜单menu*/
.menubg{
    width: 100%;
    height: 45px;
    background-image: url("../images/menu_bg.png");
    position: absolute;
    *margin-left: -175px;
}
.menu_ul{
    position: absolute;
    padding: 0;
    margin: 0;
    left: 175px;
    list-style: none;
}
.menu_ul li{
    /*background: green;*/
    height: 45px;
    width: 100px;
    float: left;
    font-family: "宋体";
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    line-height: 45px;
}
.menu_ul li:hover{
    background-image:url("../images/menu_ulbg.png") ;
    color: #aa2b2b;
}
.menu_ul li:hover .secondmenu_ul{
    display: block;
}
.secondmenu_ul{
    position: absolute;
    padding: 0;
    margin: 0;
    left: 175px;
    list-style: none;
}
.secondmenu_ul{
    font-family: "宋体";
    font-size: 15px;
    padding: 0;
    margin: 0;
    position: absolute;
    top:45px;
    left: 100px;
    display: none;
    z-index: 2;
    /*list-style: url("../images/narrow2.png");*/
}
.secondmenu_ul li{
    height: 34px;
    width: 100px;
    float: left;
    background-color: #a1dbff;
    padding: 0 21px 0 0;
    line-height: 35px;
    color: #073285;
}
.secondmenu_ul li:hover{
    background-color: #aa2b2b;
    background-image: none;
    color: #ffffff;
}
/*主页 top end*/