/*主页 top*/
body{
    font-size: 15px;
    font-family: "宋体";
}
.ind_top_bg{
    width: 100%;
    height: 305px;
    background-image: url("../images/indextopbg.png");
    position: relative;
}
.ind_top_bud{
    width: 1000px;
    height: 305px;
    background-image: url("../images/indextopbg_bud.png");
    position: absolute;
    top: 0;
    left:175px ;
}
.ind_top_text1{
    font-size: 15px;
    color: #ffffff;
    font-family: "宋体";
    padding: 0 13px;
    position: absolute;
    /*border: 1px solid #ffffff;*/
    top: 19px;
    left: 777px;
}
.ind_top_text2{
    font-size: 16px;
    color: #ffffff;
    font-family:Times New Roman;
    padding: 0 13px;
    border-left: 1px solid #ffffff;
    position: absolute;
    top: 18px;
    left: 850px;
}
.ind_top_text3{
    font-size: 16px;
    color: #ffffff;
    font-family:Times New Roman;
    padding: 0 13px;
    border-left: 1px solid #ffffff;
    position: absolute;
    top: 18px;
    left: 933px;
}
/*主页 top end*/

/*主页new*/
.ind_new{
    width: 1000px;
    height: 327px;
    border: 1px solid silver;
    margin-left: 175px;
    position:relative;
    top:9px;
    z-index: -1;
}
.imgnew{
    width: 400px;
    height: 305px;
    position: relative;
    left: 6px;
    top: 11px;
}
.imgnew_text{
    width: 398px;
    height: 39px;
    background:#083588;
    position: absolute;
    bottom: 11px;
    left: 6px;
    border: 1px solid #c6e9fa;
    border-top: none;
    font-family: "宋体";
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.imgnewmub{
    color: #ffffff;
    font-family: Arial;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 315px;
    top: 245px;
    list-style: none;
}
.imgnewmub li{
    background-color: #000000;
    height: 15px;
    width: 15px;
    margin-left: 1px;
    float: left;
    text-align: center;
     line-height: 15px;
}
.imgnewmub li:hover{
    background-color: red;
    font-size: 11px;
}
.topnew{
    width: 568px;
    height: 100px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 425px;
    top: 10px;
}
.topnewtext1{
    font-family: "微软雅黑";
    font-size: 28px;
    color: #083588;
    font-weight: bold;
    line-height: 40px;
}
.topnewtext2{
    color: #6A6A6A;
    font-size: 12px;
    font-family: "宋体";
    line-height: 20px;
}
.topnewtext3{
    color: #3AA3D9;
}

.centernew_ul{
    position: absolute;
    left: 420px;
    top: 128px;
    height: 29px;
    width: 575px;
    background-image: url("../images/cennew_bg.png");
    border-bottom:1px solid red ;
    padding: 0;
    margin: 0;
    list-style: none;
}
.centernew_ul li{
    float: left;
    height: 33px;
    width: 98px;
    margin-top: -3px;
    font-family: "宋体";
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    position: relative;
}
.centernew_ulli1{
    margin-left: 8px;
}
.centernew_ulli2{
    margin-left: 30px;
}
.centernew_ul li:hover{
    background: url("../images/centernew_bg.png");
    color: #ffffff;
}
.centernew_ul li:hover .redsj{
    display: block;
}
.redsj{
    position: absolute;
    top: 32px;
    left: 45px;
    display: none;
}
.centernew_ul2{
    position: absolute;
    left: 420px;
    top: 157px;
    height: 160px;
    width: 575px;
    background-color: #e9ecee;
    padding: 0;
    margin: 0;
    list-style: none;
}
.centernew_ul2 li{
    width: 555px;
    border-bottom: 1px solid #ffffff;
    margin-left: 8px;
    line-height: 29px;
    color: #083588;
    _padding: 7px 3px 7px 0;
}
.centernew_date{
    font-family: Times New Roman;
    font-size: 13px;
    color: #3aa3d9;
}
/*网站开通图片*/
.openimg{
    margin-left:175px ;
    margin-top: 16px;
}

/*信息资源*/
.ind_xx{
    width: 998px;
    height: 221px;
    background: url("../images/ind_xxbg.png");
    border: 1px solid #738eba;
    margin-top: 6px;
    margin-left: 175px;
    position: relative;
}
.ind_xxtext1{
    font-family: "微软雅黑";
    font-size: 20px;
    font-weight: bold;
    color: #083588;
    position: absolute;
    top: 10px;
    left: 20px;
}
.ind_xxtext2{
    font-family: Times New Roman;
    font-size: 22px;
    color: #9297A3;
    position: absolute;
    top: 13px;
    left: 130px;
}
.ind_xxtextbox1{
     width: 476px;
     height: 165px;
     border: 1px solid #cacbcd;
     position: absolute;
     left: 20px;
     top: 50px;
    border-bottom:none ;
    background: #ffffff;
 }
.ind_xxtextbox2{
    width: 476px;
    height: 165px;
    border: 1px solid #cacbcd;
    border-bottom:none ;
    position: absolute;
    left: 507px;
    top: 50px;
    background: #ffffff;
}
.bluetitle{
    background: url("../images/bluetitleimg.png");
    width: 159px;
    height: 30px;
    position: absolute;
    left: 6px;
    top: -6px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}
.eyul1{
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    color:#083588;
  top: 35px;
    left: 30px;
    line-height: 30px;
}
.eyul1 li{
    _padding: 5px 0;
}
.eyul2{
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    color:#083588;
    top: 35px;
    left: 233px;
    line-height: 30px;
}
.eyul2 li{
    _padding: 5px 0;
}

.eytext1{
    position: absolute;
    font-weight: bold;
    top:42px;
    left: 32px;
}
.eytext2{
    position: absolute;
    color:#083588;
    top:72px;
    left: 32px;
}
.eytext3{
    position: absolute;
    font-weight: bold;
    top:102px;
    left: 32px;
}
.eytext4{
    position: absolute;
    color:#083588;
    top:132px;
    left: 32px;
}
.eytext5{
    position: absolute;
    color:#083588;
    top:132px;
    left: 144px;
}
.eytext6{
    position: absolute;
    font-weight: bold;
    top:42px;
    left: 246px;
}
.eytext7{
    position: absolute;
    color:#083588;
    top:72px;
    left: 246px;
}

/*战略合作*/
.indzl{
    width: 1000px;
    height: 283px;
    border:1px solid #738eba;
    background: url("../images/indzl_bg_.png");
    margin-left: 175px;
    position: relative;
    margin-top: 7px;
}
.indzl_ul{
    margin: 0;
    padding: 0;
    position: absolute;
    list-style: none;
    text-align: center;
    line-height: 30px;
    top:50px;
    left: 22px;
}
.indzl_ul li{
    width: 184px;
    height: 28px;
    background: url("../images/indzz_ulbg1.png");
    color: #ffffff;
    font-weight: bold;
    margin-top: 13px;
}
.indzl_ul li:hover{
    background: url("../images/indzz_ulbg2.png");
}
.ind_zltextbox1{
    width: 348px;
    height: 220px;
    border: 1px solid #cacbcd;
    position: absolute;
    left: 230px;
    top: 50px;
    border-bottom:none ;
    background: #ffffff;
}
.ind_zltextbox2{
    width: 348px;
    height: 220px;
    border: 1px solid #cacbcd;
    border-bottom:none ;
    position: absolute;
    left: 600px;
    top: 50px;
    background: #ffffff;
}
.ind_zlul{
    list-style: none;
    color:#083588;
    line-height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 35px;
    left: 15px;
}
.ind_zlul li{
    _padding: 5px 0;
}
/*footer前的框架*/
.secondfooterbox{
    width: 1000px;
    height: 590px;
    /*border: 1px solid #000000;*/
    position: relative;
    margin-left: 175px;
    top:7px;
}
.xiqi{
    width: 567px;
    height: 284px;
    position: absolute;
    border:1px solid #738eba;
    background: url("../images/indzl_bg_.png");
}

.xiqi_ul{
    position: absolute;
    left: 14px;
    top: 54px;
    height: 29px;
    width: 542px;
    background:#e2e2e3;
    border-bottom:1px solid red ;
    padding: 0;
    margin: 0;
    list-style: none;
}
.xiqi_ul li{
    float: left;
    height: 32px;
    width: 107px;
    margin-top: -3px;
    font-family: "宋体";
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    position: relative;
}
.xiqi_ulli1{
    margin-left: 16px;
}
.xiqi_ulli2{
    margin-left: 13px;
}
.xiqi_ul li:hover{
    background: url("../images/xiqi_bg.png");
    color: #ffffff;
}
.xiqi_text{
    position: absolute;
    left: 14px;
    top: 84px;
    height: 190px;
    width: 540px;
    border: 1px solid #cacbcd;
    border-top:none ;
    border-bottom:none ;
    background: #ffffff;
}
.xiqi_textul{
list-style:none;
line-height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 18px;
}
.xiqi_textul li{
    _padding: 5px 0;
}
/*<政策>*/
.zc{
    width: 567px;
    height: 284px;
    position: absolute;
    border:1px solid #738eba;
    background: url("../images/indzl_bg_.png");
    top:290px;
}
/*专家*/
.zj{
    width: 420px;
    height: 284px;
    position: absolute;
    border:1px solid #738eba;
    background: url("../images/indzl_bg_.png");
    left: 578px;
}
.zj_more{
   color: #083588;
    font-size: 14px;
    position: absolute;
    left: 364px;
    top: 19px;
}
.zj_title{
    width: 187px;
    height: 28px;
    border: 1px solid #cacbcd;
    border-bottom:1px solid #ea0000;
    position: absolute;
    background: url("../images/zj_bg.png");
    left: 13px;
    top: 54px;
    color: #ffffff;
    line-height: 30px;
    font-weight: bold;
}
.zj_title2{
    width: 187px;
    height: 28px;
    border: 1px solid #cacbcd;
    border-bottom:1px solid #ea0000;
    position: absolute;
    background: url("../images/zj_bg.png");
    left: 216px;
    top: 54px;
    color: #ffffff;
    line-height: 30px;
    font-weight: bold;
}
.zj_text1{
    margin-left:18px ;
}
.zj_text{
    position: absolute;
    left: 13px;
    top: 84px;
    height: 190px;
    width: 187px;
    border: 1px solid #cacbcd;
    border-top:none ;
    border-bottom:none ;
    background: #ffffff;
}
.zj_text2{
    position: absolute;
    left: 216px;
    top: 84px;
    height: 190px;
    width: 187px;
    border: 1px solid #cacbcd;
    border-top:none ;
    border-bottom:none ;
    background: #ffffff;
}
.zj_textul{
    list-style:none;
    line-height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 18px;
}
.zj_textul li{
    _padding: 5px 0;
}
/*科研*/
.ky{
    width: 420px;
    height: 284px;
    position: absolute;
    border:1px solid #738eba;
    background: url("../images/indzl_bg_.png");
    left: 578px;
    top:290px;
}
.ky_ul{
    position: absolute;
    left: 14px;
    top: 54px;
    height: 29px;
    width: 391px;
    background:#083588;
    border-bottom:1px solid red ;
    padding: 0;
    margin: 0;
    list-style: none;
}
.ky_ul li{
    float: left;
    height: 34px;
    width: 108px;
    margin-top: -3px;
    font-family: "宋体";
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    position: relative;
}
.ky_ulli1{
    margin-left: 8px;
}
.ky_ulli2{
    margin-left: 5px;
}
.ky_ul li:hover{
    background: url("../images/ky_bg.png");
    color: #ffffff;
}
.ky_text{
    position: absolute;
    left: 14px;
    top: 84px;
    height: 190px;
    width: 389px;
    border: 1px solid #cacbcd;
    border-top:none ;
    border-bottom:none ;
    background: #ffffff;
}
.ky_textul{
    list-style:none;
    line-height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    left: 18px;
}
.ky_textul li{
    _padding: 5px 0;
}
/*footer前的框架end*/

/*即时通讯*/
.jstx_bg{
    height: 788px;
    width: 100%;
    background: url("../images/jstx_bg1.png");
}
.jstx_frame{
    position: relative;
    margin-left: 175px;
    background: url("../images/jstx_frame.png");
    height: 787px;
    width: 1000px;
}
.xit_text1{
    position: absolute;
    left: 13px;
    top: 391px;
    color: #87ACD5;
}
.xit_text2{
color: #E4ECF9;
    font-weight:bold ;
    position: absolute;
    left: 118px;
    top: 391px;
    line-height: 20px;
}
.dengluanniu{
    font-size: 12px;
    color:#B9DCCC;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 13px;
    top: 456px;
    padding: 6px 17px;
}

.chatrecord{
    font-size: 12px;
    position: absolute;
    top:632px;
    left: 300px;
    /*border: 1px solid #000000;*/
    padding: 5px 13px;
    color: #4A4949;
}
.empty{
    font-size: 12px;
    position: absolute;
    top:632px;
    left: 622px;
    /*border: 1px solid #000000;*/
    padding: 5px 21px;
    color: #4A4949;
}
.send{
    font-size: 12px;
    position: absolute;
    top:632px;
    left: 712px;
    /*border: 1px solid #000000;*/
    padding: 5px 21px;
    color: #4A4949;
}
.radio1{
    position: absolute;
    left: 370px;
    top: 432px;
}
.radio2{
    position: absolute;
    left: 515px;
    top: 432px;
}
.chatwindow{
    width: 508px;
    height: 160px;
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    top: 460px;
    left: 287px;
}

