                                                        /*中心概况*/
/*   精灵*/
.banner_center_proflie{
    width: 1000px;
    height:130px;
    background-image: url("../images/banner.png");
    background-position: 0 0;
}
                                                        .banner_chakan{
                                                            width: 1000px;
                                                            height:130px;
                                                            background-image: url("../images/banner.png");
                                                            background-position: 0 -1200px;
                                                        }
                                                        .banner_xinxiziyuan{
                                                            width: 1000px;
                                                            height:130px;
                                                            background-image: url("../images/banner.png");
                                                            background-position: 0 -600px;
                                                        }
                                                        .banner_zhanlve{
                                                            width: 1000px;
                                                            height:130px;
                                                            background-image: url("../images/banner.png");
                                                            background-position: 0 -450px;
                                                        }
                                                        .banner_zhuanjia{
                                                            width: 1000px;
                                                            height:130px;
                                                            background-image: url("../images/banner.png");
                                                            background-position: 0 -750px;
                                                        }

/*精灵end
   灰条 */
.greybg_center_proflie{
    margin-top: 7px;
    width: 965px;
    height: 39px;
    background-color: #e3e3e3;
    padding-top: 11px;
    padding-left: 35px;
}
.greybg_letter_left{
    font-size: 24px;
    font-family: "微软雅黑";
    color:#aa2b2b;
    font-style: italic;
    font-weight: bolder;
    float: left;
}
.greybg_letter_right{
    font-size: 14px;
    font-family: "宋体";
    color:#575858;
    float: right;
    margin-right: 25px;
    margin-top: 5px;
    /*_margin-top:-10px;*/
    /*letter-spacing: 2px;*/
}
/*   灰条   end*/
/*          内容   左边*/
.cp_left{
    color: #292a2c;
    font-size: 15px;
    padding: 40px;
    width: 610px;
    line-height: 23px;
    float: left;
}
.cp_left_middle{
    height: 360px;
    position: relative;
}
.cp_left_img01{
    position: absolute;
    left: 35px;
    top: 20px;
    /*height:217px;*/
    /*width:278px;*/
}
.cp_left_img02{
    position: absolute;
    left: 300px;
    top: 65px;
}
.cp_left_img03{
    position: absolute;
    left: 0px;
    top: 150px;
}
.cp_right{
    float: right;
    width: 300px ;
    /*border: 1px solid red;*/
    margin-top: 7px;
}
.cp_right_list{
    padding: 20px;
    background-color: #e7f2f9;
    margin-top: -3px;
}
.cp_right_2014{
position: relative;
}
.cp_right_2014_sub{
    position: absolute;
    left: 50px;
    top: 10px;
    border-top: 2px solid #a1dbff;
    width: 200px;
}
.cp_right_letter_number{
    color: #083386;
    font-size: 15px;
    font-style: italic;
    font-weight: bolder;
    font-family: "微软雅黑";
}
.cp_list01 ul li{
    list-style: none;
    position: relative;
    margin-left: -35px;
    line-height: 20px;
}
.po_circle{
    position: relative;
    top: -3px;
    margin-left: -12px;
}
.cp_list01 ul{
    margin-top: 1px;
}
                                                                   /*中心概况   end*/
                                    /* banner_newscenter1usualfinally1*/
.banner_newscenter1usualfinally1{
    width: 1000px;
    height:130px;
    background-image: url("../images/banner.png");
    background-position: 0 -150px;
}
.newscenter1usualfinally001{
    padding: 79px;
    padding-top: 45px;
    /*text-align: center;*/
}
.ncuf1_letter_head{
    color: #083689;
    font-size: 24px;
    font-family: "微软雅黑";
    text-align: center;
}
.ncuf1_letter_content{
    font-size: 14px;
    color: #aa2b2b;
    text-align: center;
    letter-spacing: 1px;
    line-height: 40px;
    border-bottom: 1px solid #a1dbff;
    width: 832px;
}
.ncuf1_letter_content1{
    color: #292a2c;
    font-size: 15px;
    line-height: 23px;
    margin-top: 38px;
}
                                         /* banner_newscenter1usualfinally1  end*/
                /* scientific project*/
.banner_scientific{
    width: 1000px;
    height:130px;
    background-image: url("../images/banner.png");
    background-position: 0 -900px;
}
                                                        .sp_down{
                                                            border: 1px solid #e3e3e3;
                                                            height: 204px;
                                                            width: 930px;
                                                            margin-top: 26px;
                                                            margin-left: 35px;
                                                        }
.sp_top{
    border: 1px solid #e3e3e3;
    height: 234px;
    width: 930px;
    margin-top: 26px;
    margin-left: 35px;
}  .sp_top_head{
       color: #cc0000;font-size: 22px;font-weight: bolder;
       border-bottom: 2px solid #cc0000;width: 906px;
       line-height: 45px;
       margin-left: 10px;
   }
   .sp_top_head2{
       float: right;
       font-size: 15px;
       color:#cc0000 ;
       margin-right: 30px;
   }
   .clear{
       clear: both;
   }
.sp_top_01{
             height: 30px;
             width: 138px;
    background-color: #e4f1f8;
         }  .sp001_table01 tr td{
                         border: 1px solid #8adaf5;
text-align: right;
                     }
   .sp_top_02{
       height: 30px;
       width: 472px;
       text-align: center;
   }
   .sp001_table01 .sp_top_02{
       text-align: left;
   }
   .sp001_table01 .sp_top_2, .sp001_table01 .sp_top_5, .sp001_table01 .sp_top_05{
       text-align: left;
   }
   .sp_top_03{
       height: 30px;
       width: 110px;
       background-color: #e4f1f8;
   }
                                                        .sp_top_05{
                                                            height: 30px;
                                                            width: 160px;

                                                        }
   .sp_top_04{
       height: 30px;
       width: 170px;
   }

   .sp001_table01{
       margin-left: 10px;
       margin-top: 10px;
       table-layout: fixed;
   }
   .sp_top_2{
       height: 30px;
       width: 172px;
   }
   .sp_top_3{
       height: 30px;
       width: 137px;
       background-color: #e4f1f8;
   }
   .sp_top_4{
       height: 30px;
       width: 162px;
   }
   .sp001_table01{
       border: 1px solid #8adaf5;
   }
.sp_footer01{
    height: 120px;
}
/* scientific_project001   end*/
/*register*/
 .register_bg{
     background-image:url("../images/register_bg02.png");
     width: 100%;
     height: 681px;
 }
 .register_border{
     width:450px ;
     height: 600px;
     border: 1px solid transparent;
     border-radius: 7px;
     position: absolute;
     left:650px ;
     top: 58px;
     background-color: white;
     opacity: 0.6;
 }
 .register_border01{
     border: 1px solid transparent;
     width: 123px;
     height: 38px;
     border-radius: 5px;
     background-image: url("../images/re_but_bg.png");
     margin-left: 30px;
     margin-top: 10px;
     font-weight: bolder;
     font-style: italic;
     color: whitesmoke;
     font-size: 22px;
     font-family: "微软雅黑";
     padding-left: 27px;
     padding-top: 5px;
 }
 .register_border_line{
     border-top: 3px solid #09388A;
     width: 450px;
     margin-top: -3px;
 }
 .dengluming,.dengluming1{
     width: 160px;
     height: 25px;
     background-color: #ffffff;
     border: 1px solid #09388A;
 }
 .sex{
     width: 70px;
     height: 25px;
     background-color: #ffffff;
     border: 1px solid #09388A;
 }
 .dengluming1{
     margin-left: -2px;
 }
 .register_borderall2{
     position: relative;
 }
 .re_yanzheng{
     width: 103px;
     height: 25px;
     background-color: #ffffff;
     border: 1px solid #09388A;
     margin-left: -2px;
 }
 .re_ma{
     width: 53px;
     height: 25px;
     border:1px solid grey;
     background-image:url("../images/redcircle.png");
     /*margin-top: 5px;*/
     margin-left: -5px;
 }
 .re_liji{
     width: 200px;
     height: 50px;
     border-radius: 7px;
     background-color:green ;
     color: #ffffff;
     font-size: 25px;
     font-style: italic;
     margin-left: 110px;
     margin-top: 20px;
     font-weight: bolder;
 }
 .register_borderall,.register_borderall2{
     margin-left: 40px;
     margin-top: 17px;
     color:#083588 ;
     font-weight: bolder;
     /*font-family: ;*/
     font-family: "宋体";
     font-size: 15px;
 }
 .zhushi{
     position: absolute;
     left: 240px;
     top: -2px;
     display: none;
 }
 .register_borderall2:hover .zhushi{
     display: block;
 }
                                                        .regis_yanzhengma {
                                                            /*margin-top: -5px;*/
                                                            position: absolute;
                                                            left: 224px;
                                                            top: 483px;
                                                            *top: 483px;
                                                            *top: 483px;
                                                        }
                                                        /*register   end*/
  .banner_expert_detail{
      width: 1000px;
      height:130px;
      background-image: url("../images/banner.png");
      background-position: 0 -750px;
  }
  .edd_top{
      border: 1px solid #e3e3e3;
      height: 527px;
      width: 930px;
      margin-top: 26px;
      margin-left: 35px;
  }
  .edd_img{
      border: 2px solid #8adaf5;
      margin-left: 20px;
      margin-top: 24px;
      float: left;
  }
  .edd_table01{
      table-layout: fixed;
      margin-top: 24px;
      margin-left: 15px;
      float: left;
      border: 1px solid #8adaf5;
  }
  .edd_table01 tr td{
      border: 1px solid #8adaf5;
  }
  .edd_td01{
      width: 88px;
      height: 30px;
      background-color:#e4f1f8;
      text-align: center;
  }
  .edd_td02{
      width: 198px;
      height: 30px;
  }
  .edd_td03{
      width:118px;
      height: 30px;
  }
  .edd_bot{
      border: 1px solid #e3e3e3;
      height: 375px;
      width: 930px;
      margin-top: 26px;
      margin-left: 35px;
  }
  .edd_table02{
      table-layout: fixed;
      margin-left: 10px;
      margin-top: 22px;
      border: 1px solid #8adaf5;
  }
  .edd_table02 tr td{
      border: 1px solid #8adaf5;
  }
  .edd_table02 tr{

  }
  .edd_td001{
      width: 900px;
      height: 30px;
      background-color:#e4f1f8;
  }
  .edd_td002{
      width: 450px;
      height: 60px;
  }