.container{
    width: 1000px;
    /*height: 1250px;*/
margin-left: 175px;
    /*border: 1px solid red;*/
    color: #083689;
    font-size: 15px;
    /*margin-top: 5px;*/
}
/*左边*/
.liebiaoform{
    width: 300px;
    height: 330px;
    background-color: #E7F2F9;
}
.liebiaoform1{
    width: 300px;
    height: 230px;
    background-color: #E7F2F9;
}
.textwenben{
    width: 150px;
    height: 20px;
    margin-top: 5px;
    border: 1px solid  #083487;
    margin-left: 5px;

}
.textwenben1{
    width: 155px;
    height: 25px;
}
.form1{
    margin-left: 30px;
   padding-top: 20px;
}
.left{
    width: 310px;
    /*height: 1250px;*/
    /*border: 1px solid black;*/
    float: left;
    margin-bottom: 20px;
}
.buttonindex{
    width: 80px;
    height: 34px;
    border-radius:6px ;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background-color: #e3f2f5;
    color: #083487;
    font-size: 15px;
    font-family: "宋体";
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
}
.buttonindex:hover{

    background-color: #fbc900;
    color: #654b00;

}
.left_zxxw{
    width: 100px;
    height: 50px;
    background:url("../images/bannerimg.png") repeat-x;
    border: 1px solid white;
    border-bottom: 2px solid #ff6549 ;
    float: left;
    color: #083689;
    font-size: 15px;
    font-family: "宋体";
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
.left_zxxw:hover{
    background: #e7f2f9;
    color: #aa2b2b;
border-bottom: 2px solid #e7f2f9;
    border-right:2px solid #ff6549  ;
    border-top:2px solid #ff6549  ;

}
.left_ggtz:hover{
    border-left:2px solid #ff6549  ;
    border-top:2px solid #ff6549  ;
}
.left_yjfk:hover{
    border-left:1px solid #ff6549  ;
    border-right:1px solid white  ;
}
.left_ul01{
    clear: both;
    margin-left: -40px;
    margin-bottom: 0px;
    /**magin-left:10px;*/
    *padding-left: 25px;

}
.left_ul01 li{
    width: 290px;
    height:25px;
    padding-left: 10px;
    line-height:30px;
color: #E70000;
    overflow: hidden;
    background-color: #E7F2F9;
    list-style-position: inside;
    *list-style:none;
}
.left_ul01 .li2{
font-size: 14px;
    color: #5AB3FF;
    border-bottom:1px solid white ;
    list-style: none;
    width: 275px;
  padding-left: 25px;
}
.left_ul01 .li3 span{
    float: right;
    color: #5AB3FF;
    margin-right: 10px;
}
.left_ul01 .li4{
    list-style: none;
}
.left_ul01 li span{
    color: #083689 ;
}
.left_jishitongxun{
    width: 300px;
    height: 50px;
    background-color: #A1DBFF;


}
.left_jishitongxun img{
    margin-left: 50px;
    margin-right: 20px;
}
.left_jishitongxun span{

    vertical-align: top;
    font: bold 20px/50px "黑体";
    color:#083386;


}
.left_onlinelist{
    color: black;
    width: 300px;
    height: 300px;
    background-color: #E7F2F9;
    display: inline-block;
    margin-top: 0px;


}
.left_onlinelist span{
    color: black;
    display: block;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 10px;

 }
.liteacher{
     width: 65px;
     height: 70px;
     /*border: 1px solid red;*/
     text-align: center;
     float: left;
     margin-left: 10px;
    font-size: 12px;
    margin-top: 10px;

 }
.liteacher1{
   clear: both;
    float: left;
margin-left: 0px;
}
.liteacher2{

    margin-left: 0px;
}
.contentus{
    width: 300px;
    height: 320px;
    background-color:#e7f2f9 ;
    color: black;
    line-height: 25px;
    background:url("../images/envolve.png") right bottom no-repeat #e7f2f9;
}
.contentus1{
    width: 300px;
    height: 700px;
    background-color:#e7f2f9 ;
    color: black;
    line-height: 25px;
    background:url("../images/envolve.png") right 80px no-repeat #e7f2f9;
}
.contentus2{
    height: 500px;
}
.contentus3{
    height: 550px;
}
.contentus4{
    height: 500px;
}
.zhrwhz{
    margin-left: 10px;
    /*font-size: 15px;*/
   display: block;
    padding-top: 20px;

}
.contentus div{
    margin-left: 10px;

}
.address{
    width: 210px;
    display: inline-block;
}
.adtran{
    display: inline-block;
    vertical-align: top;
}
.redfont{
    color: #de0000;
}
/*左边结束*/
/*右边*/
/*newscebterusualfinally*/
.right_banner{
    width: 650px;
    height: 50px;
    background-color: #e3e3e3;
    color: #aa2b2b;
    font: bold italic 25px/50px "黑体";
    padding-left: 30px;
}
.right_banner .xinwen{

    color: #aa2b2b;
    font: bold italic 25px/50px "黑体";

    *vertical-align: top;
    *display:inline-block;
    *margin-top: 3px;
    padding-left: 30px;
    *margin-right:200px;

}
.right{
    width: 680px;
    /*height: 1250px;*/
float: right;
    /*border: 1px solid black;*/
    margin-bottom: 20px;

}
.right_banner_nav{
    color: grey;
    *color: black;

    *vertical-align:top;
    font-size: 15px;
    display: inline-block;
    font-family: "宋体";
    font-weight: 100;
    float: right;
    *float: none;
  *margin-right:10px;
    margin-right: 50px;

}
.right_woxiao{
    width: 680px;
    height: 115px;
    border-bottom: 1px solid #a1dbff;
   text-align: center;

}
.wenzi1{
    color: #083689;
    font-size: 20px;
    padding-top: 40px;


}
.wenzi2{
    color: #aa2b2b;
    font-size: 15px;
    margin-top: 10px;

}

.paralong{
    width: 630px;
    height: 180px;
    /*border: 1px solid red;*/
    text-indent: 2em;
    font-size: 15px;
    line-height: 25px;
    color: black;
    margin: 0 auto;
    word-break: break-all;
    margin-top: 20px;

}
/*end newscebterusualfinally*/
/*newscenterusuallist*/
.right_ul01{
    margin-left: -35px;
    *margin-left: -5px;
}
.right_ul01 li{
    width: 660px;
    height: 40px;
    border-bottom: 1px solid #a1dbff;
    list-style-image: url("../images/narrow.png");
    *padding: 2px 0;
    line-height: 40px;
    color: black;
    list-style-position: inside;
    font-size: 14px;

}
.right_ul01 li span{
    color: #aa2b2b;
   float: right;
    margin-right: 10px;
    *float:none;
}
.right_pageall{
    margin: 0 auto;
    width: 300px;
    height: 30px;
    font-size: 12px;
    margin-top: 40px;
}
.right_page1{
    color: black;
}
.right_page2{

    color: #036cb4;
    border:1px solid #eeeeee ;
    padding: 5px;
}
.right_page3{

    color: #036cb4;
    border:1px solid #eeeeee ;
    padding: 2px;
}
.right_page2:hover,.right_page3:hover{
    background-color: #cccccc;
}
/*end newscenterusuallist*/
/*newscenterthree*/
.right_tupiannews{
    width: 680px;
    height:247px;
    border-bottom: 1px solid #a1dbff;
}
.right_tupiannews img{

    margin: 20px 0;
    float:left;


}
.renwenhezuopara{

    width: 360px;
    height: 207px;
margin: 20px 0;
    float: left;
    /*border: 1px solid red;*/
    margin-left: 5px;
}
 .rwhzbf{
    width: 360px;
     /*border: 1px solid red;*/
     display: block;
     font: 18px "微软雅黑";
     color: #083689;
}
.rwhzpra{
    width: 360px;
    height: 136px;
    overflow: hidden;
    display: block;
    /*border: 1px solid red;*/
    color: #838383;
    font: 14px "微软雅黑";
}
.rwhztime{
    color: #5ab3ff;
    font: 12px "微软雅黑";
}
/* end newscenterthree*/
/*xinxiziyuan*/
.eshujutupian{
    width: 153px;
    height: 218px;
    background-color: #1569c5;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    _margin-left: 10px;
}
.eshujutupian img{
   padding: 2px;
}
.eshujuwenzi{
    display: block;
    width: 140px;
    color: white;
   word-break: break-all;
    text-align: center;
    font: 15px "微软雅黑";

}
.eshujutupian:hover{

    background-color: #c70000;
}
/*end xinxiziyuan*/
/*zhuanjiashujuku*/
.zhuanjiali{
    width: 680px;
    height: 221px;
    border-bottom: 1px solid #a1dbff;
    padding: 20px 0 ;
}
.jieshaodiv{
    width: 245px;
    height: 26px;
    font-size: 15px;
    float: left;


}
.jieshaodiv1{
    width: 600px;
    height: 26px;
    font-size: 15px;
  clear: left;


}
.jieshaospan{
   font-weight: bold;
    color: black;


}
.liyonglired{
    color: #d50000;
    background-color: #e4f1f8;
    display: block;
    width: 480px;
    height: 27px;
    line-height: 27px;
    font-size: 15px;
    font-weight: bold;
}
.liyongliimg{
    display: inline-block;
    float: left;
    border: 1px solid #8adaf5;
}
.liyongliright{
    width: 500px;
    height: 221px;
    display: inline-block;
    /*border: 1px solid red;*/
    float: right;
_margin-right: -100px;
    line-height: 30px;
}
/*end zhuanjiashujuku*/
/*科研项目*/
.keyanxiangmuul01{
    margin-left: -40px;

}
.keyanxiangmuul01 li{
    width: 680px;
    height: 40px;
    border-top: 1px solid #8adaf5;
line-height: 40px;
    list-style-position: inside;
    list-style: none;
    text-align: center;

}
.keyanxiangmuul01 .li1{
    text-align: center;
    background-color: #e7f2f9;
    color: #000000;
}
.li1_s1{
    color: #d50000;
}
.keyanxiangmuul01 .li1_div1{
    display: inline;
    float: right;
    color: #000000;
    text-align: left;
}
.keyanxiangmuul01 .li1_div2{
    font-size: 12px;

}
.keyanxiangmuul01 .li1_div3{
    display: inline;


}
.keyanxiangmuul01 .li2:hover{

    background-color: #c5e8ff;

}
.keyanxiangmuul01 .li2:hover .li1_div3{

   color: #d50000;
    text-decoration: underline;

}
.liend{
    border-bottom: 1px solid #8adaf5;

}
/*科研项目结束*/
/*科研论文*/
.right_baseinfo{
    width: 680px;
    line-height: 58px;
    font-size: 20px;
    font-weight: bold;
    height: 58px;
    color: #CC0000;
    border-bottom: 2px solid #CC0000;

}

.goback{
    float: right;
    display: inline-block;
    width: 110px;
    height: 40px;
    /*border: 1px solid red;*/
   margin-top: 10px;
    margin-right: 20px;
    border: none;
}
.right_baseinfo a:link{
    text-decoration: none;
    border: 0px;
}
/*科研论文结束*/
/*科研论文*/
.right_table01{
   width: 678px;
    height: 1000px;
    border: 1px solid #8ADAF5;
    margin-top: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    color: #000000;
    font-size: 16px;
    font-family: "宋体";
    letter-spacing: 1px;
}
.right_table01 tr td{
    border-collapse: collapse;
    border: 1px solid #8ADAF5;
text-align: right;
    margin-right: 5px;
}
.right_table01 tr{
    border-collapse: collapse;
    border: 1px solid #8ADAF5;
}
.tbble01_tr01{
    height: 40px;
}
.tbble01_tr02{
    height: 140px;
}
.table01_td01{
    background-color: #E4F1F8;
}
 .right_table01 .table01_td03{
   font-size: 20px;
    font-weight: bold;
    font-family: "黑体";
    text-align: left;
}
.right_table01 .table01_td04{

    text-align: left;
}
.right_table01 .table01_td05{


    vertical-align: top;
}
/*科研论文结束*/
/*keyanzhuzuo*/
.keyanxiangmuul01 .kyzzli1{
    text-align: center;
    background-color: #e7f2f9;
    color: #000000;
    font-weight: bold;

}
/*end keyanzhuzuo*/
/*我要留言*/
.right_banner .chakanliuyan{
    color: grey;
    margin-right: 40px;
}
.woliuyan{
    font-size: 20px;
    color: #3560A4;
    padding: 20px 0;
}
.right_frame01{
    width: 678px;
    height: 600px;
    line-height: 50px;
    border: 1px solid #A1DBFF;
    color: #000000;
}
.dealand{
    height: 30px;
    background-color: #E7F2F9;
    font-size: 12px;
    color: #083689;
    line-height: 30px;
    text-align:center;
}
.woyaoliuyan_form01 span{
    color: #A1110B;
    margin-left: 30px;
}
.right .right_banner .chakanliuyan{
    *color: #000000;
}
.right .right_banner .woyaoliuyan{
  *display: inline-block;
    *margin-top: 5px;
    *margin-right: 50px;
}
.selcetwidth{
    width: 150px;
    height: 20px;
    border: 1px solid #AFAFAF;
    margin-top: 20px;

}
.selcetwidth:focus{

    border: 1px solid #6486BD;
}
.textwidth:focus{

    border: 1px solid #6486BD;
}
.textareawidth:focus{

    border: 1px solid #6486BD;
}
.textwidth{
    width: 325px;
    height: 30px;
    border: 1px solid #AFAFAF;
    _margin-top: 15px;

}
.textareawidth{
    width: 435px;
    height: 110px;
    border: 1px solid #AFAFAF;
    margin-top: 10px;
    _margin-top: 15px;


}
.buttonliuyan{
    width: 94px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    background-color: #01B72E;
    margin-left: 100px;
}
.buttonliuyan1{
    background-color: #A2A2A2;
    margin-left: 20px;
    _margin-top: 20px;

}
.neirong{
    /*border: 1px solid red;*/

}
.yanzhengma .textwidth{
    width: 120px;
}
.yanzhengma .span01{
  font-size: 20px;
    color: #000000;
}
.neirong span{
    vertical-align: top;

}
.neirong .span1{
    vertical-align: top;
    color: #000000;
    display: inline-block;
    margin-left: 0px;

}

/*我要留言结束*/
/*查看留言*/
.right .right_banner .chakanliuyanred{
    color: #AA2B2B;
}
.woyaoliuyanhui{
    color: #8C8C8E;
}
.xiongxiansheng{
    width: 680px;
    height: 130px;
    padding: 30px 0;
    font-size: 12px;
    border-bottom: 3px dashed grey;
    *border-bottom: 3px dashed #000000;

    margin-top: 10px;

}
.xxsgrey{
    color: #999999;
}
.xxsyellow{
    font-size: 16px;
    color: #98BA08;
    font-weight: bold;
    margin-top: 15px;
}
.xxsdarkgrey{
    color: #666666;
    word-break: break-all;
    margin-top: 15px;

}
.xxsblue{
    color: #0089AA;
    margin-top: 10px;
}
/*查看留言结束*/
/*右边结束*/
.right_table02{
    height:400px ;
}
.right_table03{
    height:280px ;
}
.right_table04{
    height:200px ;
}
.right_table04 .lioujiaxue{
    color: #000000;
   text-align: left;
    font-weight: 100;
    font-size: 15px;
    font-family: "宋体";
}
.clear{
    clear: both;
}
.keyanxiangmuul01 .li1_div1{
    *display: inline-block;
    *vertical-align: top;
   *margin-top: -40px;
}
.right_baseinfo .goback{
    *margin-top: -40px;
    *display: inline-block;
}
.right_table01 {
 *height: 400px;
}
.keyanxiangmuul01 .li2 .li1_div3{
    *margin-right: 230px;
}
.right .table01_td03{
    font-size: 18px;
}
.right,.left{
    margin-top: 5px;
}
