/*主页 top*/
body{
    font-size: 15px;
    font-family: "宋体";
}
.ind_top_bg{
    width: 100%;
    height: 305px;
    background-image: url("../images/indextopbg.png");
    position: relative;
}
.ind_top_bud{
    width: 1000px;
    height: 305px;
    background-image: url("../images/indextopbg_bud.png");
    position: absolute;
    top: 0;
    left:175px ;
}
.ind_top_text1{
    font-size: 15px;
    color: #ffffff;
    font-family: "宋体";
    padding: 0 13px;
    position: absolute;
    /*border: 1px solid #ffffff;*/
    top: 19px;
    left: 777px;
}
.ind_top_text2{
    font-size: 16px;
    color: #ffffff;
    font-family:Times New Roman;
    padding: 0 13px;
    border-left: 1px solid #ffffff;
    position: absolute;
    top: 18px;
    left: 850px;
}
.ind_top_text3{
    font-size: 16px;
    color: #ffffff;
    font-family:Times New Roman;
    padding: 0 13px;
    border-left: 1px solid #ffffff;
    position: absolute;
    top: 18px;
    left: 933px;
}
/*主页 top end*/

/*主页new*/
.ind_new{
    width: 1000px;
    height: 327px;
    border: 1px solid silver;
    margin-left: 175px;
    position:relative;
    top:54px;
}
.imgnew{
    width: 400px;
    height: 305px;
    position: relative;
    left: 6px;
    top: 11px;
}
.imgnew_text{
    width: 398px;
    height: 39px;
    background:#083588;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #c6e9fa;
    border-top: none;
    font-family: "宋体";
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
}
.imgnewmub{
    color: #ffffff;
    font-family: Arial;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 315px;
    top: 245px;
    list-style: none;
}
.imgnewmub li{
    background-color: #000000;
    height: 15px;
    width: 15px;
    margin-left: 1px;
    float: left;
    text-align: center;
     line-height: 15px;
}
.imgnewmub li:hover{
    background-color: red;
    font-size: 11px;
}
.topnew{
    width: 568px;
    height: 100px;
    /*border: 1px solid #000000;*/
    position: absolute;
    left: 425px;
    top: 10px;
}
.topnewtext1{
    font-family: "微软雅黑";
    font-size: 28px;
    color: #083588;
    font-weight: bold;
    line-height: 40px;
}
.topnewtext2{
    color: #6A6A6A;
    font-size: 12px;
    font-family: "宋体";
    line-height: 20px;
}
.topnewtext3{
    color: #3AA3D9;
}

.centernew_ul{
    position: absolute;
    left: 420px;
    top: 135px;
    height: 29px;
    width: 575px;
    background-image: url("../images/cennew_bg.png");
    border-bottom:1px solid red ;
    padding: 0;
    margin: 0;
    list-style: none;
}
.centernew_ul li{
    float: left;
    height: 33px;
    width: 98px;
    margin-top: -3px;
    font-family: "宋体";
    color: #000000;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    position: relative;
}
.centernew_ulli1{
    margin-left: 8px;
}
.centernew_ulli2{
    margin-left: 30px;
}
.centernew_ul li:hover{
    background: url("../images/centernew_bg.png");
    color: #ffffff;
}
.centernew_ul li:hover .redsj{
    display: block;
}
.redsj{
    position: absolute;
    top: 32px;
    left: 45px;
    display: none;
}
.centernew_ul2{
    position: absolute;
    left: 420px;
    top: 165px;
    height: 160px;
    width: 575px;
    background-color: #e9ecee;
    padding: 0;
    margin: 0;
    list-style: none;
}
.centernew_ul2 li{
    width: 555px;
    border-bottom: 1px solid #ffffff;
    margin-left: 8px;
    line-height: 30px;
    color: #083588;
}
.centernew_date{
    font-family: Times New Roman;
    font-size: 13px;
    color: #3aa3d9;
}
